.photo
    img(src="assets/photoGallery/photos/mini/#{img}")
    .photoFooter
        .name
            .icon-globe-black
            div= name
        if description
            .description
                .icon-note-black
                div= description
        .place
            .icon-location-big-black
            div.
                #{place}, #{country}
        .date
            .icon-calendar
            div= date